{% load static %}
<nav class="navbar shadow p-3 mb-4" style="background-color: blue">
    <div class="container-fluid">
        <a class="navbar-brand link-light" href="{% url 'shop'%}"><img src="{% static 'pics/logo.png' %}" alt="Logo" height="60vw" /></a>
        <div class="navbar-nav">
            <div class="d-flex">
                <a class="nav-link link-light p-2" href="">Login</a>
                <a class="nav-link link-light p-2" href="{% url 'warenkorb'%}"><img src="{% static 'pics/cart.png'%}" alt="Warenkorb" height="25vw"><span class="position-absolute top-25 start-95 translate-middle badge rounded-pill bg-danger">5</span></a>
                {% comment %} <a class="nav-link link-light p-2" href="{% url 'kasse'%}">Kasse</a> {% endcomment %}
            </div>
        </div>
    </div>
</nav>
