{% extends "shop\start.html" %}
{% load static %}

{% block content %}

<h1>Shop</h1>

<div class="row row-cols-md-4">

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

    <div class="col mb-3">
        <div class="card" style="max-width: 25rem;">
            <img src="{% static 'pics/holz.jpg' %}" class="card-img-top" alt="Bild von Holz">
            <div class="card-body">
            <h5 class="card-title">Holzringe</h5>
            <p class="card-text">Das ist ein sehr gutes Stück Holz.</p>
            <a href="#" class="btn btn-primary">Kauf mich!</a>
            </div>
        </div>
    </div>

</div>

{% endblock content %}
